{% extends 'profile.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
{% load user_filters %}

<main role='main' class='container'>
    <div class='row'>
        <div class='col-md-3 mb-3 mt-1'>
            <div class='card'>
                <div class='card-body'>
                    <div class='h2'>
                        Профиль пользователя:
                        {{ author.get_full_name }}

                    </div>
                    <div class='h3 text-muted'>
                        @{{ author.username }}
                    </div>
                </div>
                <ul class='list-group list-group-flush'>
                    <li class='list-group-item'>
                        <div class='h6 text-muted'>
                             Подписчиков: {{ author.following.count }} <br />
                            Подписан: {{ author.follower.count }}
                        </div>
                    </li>
                    <li class='list-group-item'>
                        <div class='h6 text-muted'>
                            Записей: {{ posts.count }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class='col-md-9'>

            <div class='card mb-3 mt-1 shadow-sm'>
            {% load thumbnail %}
            {% thumbnail post.image "600x400" crop="center" upscale=True as im %}
                 <img class="card-img" src="{{ im.url }}">
            {% endthumbnail %}
                <div class='card-body'>
                    <p class='card-text'>
                        <a href='{% url 'profile' author.username %}'><strong class=' d-block
                            text-gray-dark'>@{{ author.username }}</strong></a>
                        {{ post.text|linebreaksbr }}
                    </p>
                    <div class='d-flex justify-content-between align-sitem-center'>
                        <div class='btn-group '>
                            {% if author ==  request.user %}
                            <a class='btn btn-sm text-muted' href='{% url 'post_edit' author.username post.id %}'
                                role='button'>Редактировать</a>
                            {% endif %}
                        </div>
                        <small class='text-muted'>{{ post.pub_date|date:'d M Y' }}</small>
                    </div>
                    <!-- Ссылка на лайки -->
                                {% if like %}
                                <a class="btn btn-lg btn-light" 
                                        href="{% url 'delete_like' author.username post.id %}" role="button"> 
                                        &#9829
                                        {{ post.post_like.count }}
                                </a> 
                                {% else %}
                                <a class="btn btn-lg btn-primary" 
                                        href="{% url 'add_like' author.username post.id %}" role="button">
                                        &#9825 
                                       {{ post.post_like.count }}
                                </a>
                                {% endif %}
                        
                </div>
            </div>
        </div>
    </div>
        {% with comments=post.comment.all %}
         {% include 'comments.html' %}
        {% endwith %}
</main>
{% endblock content %}